/**
 * Float everything
 **/
.page, .row, .col{
    overflow: hidden;
    float: left;
}

/**
 * Static rows
 **/
.row.s_100{width: 100px;}
.row.s_200{width: 200px;}
.row.s_300{width: 300px;}
.row.s_400{width: 400px;}
.row.s_500{width: 500px;}
.row.s_600{width: 600px;}
.row.s_700{width: 700px;}
.row.s_800{width: 800px;}

/**
 * Dynamic rows / columns
 **/
.d_100{width: 100%;}
.d_95{width: 95%;}
.d_90{width: 90%;}
.d_85{width: 85%;}
.d_80{width: 80%;}
.d_75{width: 75%;}
.d_70{width: 70%;}
.d_65{width: 65%;}
.d_60{width: 60%;}
.d_55{width: 55%;}
.d_50{width: 50%;}
.d_45{width: 45%;}
.d_40{width: 40%;}
.d_35{width: 35%;}
.d_30{width: 30%;}
.d_25{width: 25%;}
.d_20{width: 20%;}
.d_15{width: 15%;}
.d_10{width: 10%;}
.d_5{width: 5%;}



/**
 * Just giving the examples a pretty view
 * These styles has nothing to do with the grid structure
 **/
*{margin: 0; padding: 0;}
body{padding: 10px 10px 10px 10px;}
.page{width: 800px;}
.row{margin-bottom: 10px;}

.separator{
    clear:both;
    height: 30px;
}

.el{
    margin: 5px 5px 5px 5px;
}

.locked{
    background-color: #cc3300;
}
.locked h2, .locked p{
    opacity: 0.3;
}


.editing{
    margin: 5px 5px 5px 5px;
    background-color: #009933;
}

.editBar{
    overflow: hidden;
    background-color: #cccccc;
}

.editBar a{
    float: right;
    margin: 2px 2px 2px 2px;
    text-decoration: none;
    color: #000;
    font-size: 10px;
}