/**
 * Float everything
 **/
.page, .row, .col{
    overflow: hidden;
    float: left;
}

/**
 * Static rows
 **/
.row.s_100{width: 100px;}
.row.s_200{width: 200px;}
.row.s_300{width: 300px;}
.row.s_400{width: 400px;}
.row.s_500{width: 500px;}
.row.s_600{width: 600px;}
.row.s_700{width: 700px;}
.row.s_800{width: 800px;}

/**
 * Dynamic rows / columns
 **/
.d_100{width: 100%;}
.d_95{width: 95%;}
.d_90{width: 90%;}
.d_85{width: 85%;}
.d_80{width: 80%;}
.d_75{width: 75%;}
.d_70{width: 70%;}
.d_65{width: 65%;}
.d_60{width: 60%;}
.d_55{width: 55%;}
.d_50{width: 50%;}
.d_45{width: 45%;}
.d_40{width: 40%;}
.d_35{width: 35%;}
.d_30{width: 30%;}
.d_25{width: 25%;}
.d_20{width: 20%;}
.d_15{width: 15%;}
.d_10{width: 10%;}
.d_5{width: 5%;}



/**
 * Just giving the examples a pretty view
 * These styles has nothing to do with the grid structure
 **/
*{margin: 0; padding: 0;}
body{padding: 10px 10px 10px 10px;}
.page{width: 800px;}
.row{margin-bottom: 10px;}
.el{
    height: 60px;
    border: solid 2px #efefef;
    background-color: #efefef;
}
.el:hover{
    border: solid 2px #ff0000;
}

.locked{
    background-color: #ffa500;
}

.editing{
    background-color: #00cc33;
}

/*
.c1{background-color: #010D07;}
.c2{background-color: #042212;}
.c3{background-color: #074324;}
.c4{background-color: #0B6536;}
.c5{background-color: #0C723D;}
.c6{background-color: #0E8648;}
.c7{background-color: #4BA576;}
.c8{background-color: #87C3A4;}
.c9{background-color: #C3E1D1;}
.c10{background-color: #E7F3ED;}
*/
